// Variables
:root {
    --background-primary: #0D1B2A;
    --background-secondary: #1B263B;
    --text-color: #E0E1DD;
    --first-blue: #415A77;
    --second-blue: #778DA9;
}

// Initial Setup
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::after,
    &::before {
        padding: 0;
        margin: 0;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, var(--background-secondary) 0%, var(--background-primary) 100%);
    position: relative;
    overflow: hidden;
    height: 100vh;
}

// Linear Gradient transition
body::before {
    position: absolute;
    z-index: 1;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, #E0E1DD 0%, #778DA9 100%);

    z-index: -1;
    transition: opacity 1s linear;
    opacity: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.container {
    width: 100vw;
    height: 100vh;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 12vh 7px 7px 7px;
    z-index: 10;
}

.shadow {
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 23px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 23px 1px rgba(0, 0, 0, 0.75);
}

.rain-element {
    position: fixed;
    top: -4vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
    opacity: .05;
    font-size: 3rem;
    z-index: -1;
}

@keyframes fall {
    to {
        transform: translateY(110vh);
    }
}


// Header 
// Light-Dark mode
.label {
    width: 50px;
    height: 26px;
    background-color: var(--background-primary);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    position: relative;
}

.ball,
.music-ball {
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: var(--text-color);
    border-radius: 50%;
    top: 2px;
    left: 2px;
    cursor: pointer;
    transition: all .4s linear;

    &:hover {
        background: var(--second-blue);
    }
}

.fa-moon,
.fa-play {
    color: #f1c40f;
}

.fa-pause {
    // font-size: .8rem;
    padding-left: 4px;
}

.fa-play {
    padding-right: 5px;
}

.fa-sun,
.fa-pause {
    color: #f39c12;
}

.checkbox,
.music-checkbox {
    opacity: 0;
    position: absolute;
}

.header {
    background: url('../images/background_dark.jpg') center center/cover;
    width: 100%;
    height: 21.5vh;
    position: relative;
    border-radius: 15px 15px 0 0;
    border-bottom: 3.5px solid var(--background-secondary);
    transition: all 1s linear;
}

.light-container {
    position: absolute;
    top: .25rem;
    right: .25rem;
}

.music-container {
    position: absolute;
    top: .25rem;
    left: .25rem;
}

#date {
    position: absolute;
    bottom: .25rem;
    left: .9rem;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: all .4s linear;

    h2 {
        transition: all .4s linear;
        text-shadow: -10px 7px 7px #000000;
    }
}

// Content (tasks)
.content {
    width: 100%;
    height: 45vh;
    background: var(--background-primary);
    font-size: .95rem;
    transition: all 1s linear;
    position: relative;
    overflow: auto;

    // Tasks List Scrollbar
    &::-webkit-scrollbar {
        display: none;
    }

    ul {
        padding: .75rem;
        padding-top: 1.15rem;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 6.5px 2.5px;
            border-bottom: 1px solid var(--background-secondary);
            transition: all .35s;

            &:first-child {
                border-top: 1px solid var(--background-secondary);
            }

            &.completed {
                text-decoration: line-through;
                opacity: .35;
            }

            p {
                color: var(--text-color);
                font-weight: 400;
                transition: all .4s linear;
                padding-left: 10px;
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .task-buttons {
                transform: scale(.9);
                width: 4.3rem;
                display: flex;
                justify-content: space-between;

                a {
                    color: var(--text-color);
                    transition: color .1s linear;
                    width: 2.1rem;
                    text-align: center;

                    &:first-child:hover {
                        color: #92e652;
                    }

                    &:last-child:hover {
                        color: #F0706A;
                    }

                    &:active {
                        color: var(--text-color);
                    }

                    .fa-trash {
                        transition: color .3s linear;
                        pointer-events: none;
                    }

                    .fa-check {
                        pointer-events: none;
                        transition: color .3s linear;
                    }
                }
            }
        }
    }
}

.error-message-div {
    position: absolute;
    color: var(--text-color);
    bottom: .65rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(70%);
    visibility: hidden;
    transition: transform .5s ease-in-out;

    h3 {
        font-size: 1rem;
        border: 2px solid #F0706A;
        color: #F0706A;
        border-radius: 50px;
        padding: 0.4rem 0.9rem;
    }
}


// Bottom (Adding the task)
.bottom {
    border-top: 3.5px solid var(--background-secondary);
    border-radius: 0 0 15px 15px;
    background: var(--background-primary);
    width: 100%;
    padding: 1rem;
    transition: all 1s linear;

    .add-to-do {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: var(--text-color);
            transition: color .4s linear;
            font-size: 1.2rem;

            &:active {
                color: var(--text-color);
            }

            &:hover {
                color: var(--second-blue);
            }
        }

        input {
            width: 90%;
            border-radius: 50px;
            padding: .4rem;
            outline: none;
            border: none;
            color: var(--background-primary);
            background: var(--text-color);
            -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.75);

            &::placeholder {
                color: rgba(var(--background-primary), .5);
                font-weight: 500;
                padding-left: .4rem;
            }
        }
    }
}

// Media Query
@media screen and (max-width: 768px) {
    body {
        height: 100vh;
        width: 100vw;
    }

    .card {
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .header {
        border-radius: 0;
        height: 30vh;

        h2 {
            font-size: 3rem;
            padding: 0 0 .45rem 1rem;
        }
    }

    .bottom {
        border-radius: 0;
        height: 10vh;
        width: 100%;

        .add-to-do {
            margin: auto 1rem;

            #input {
                padding: 1rem;
                width: 90%;
            }

            a {
                transform: scale(1.4);
            }
        }
    }

    .shadow {
        border-radius: 0;
    }

    .content {
        height: 60vh;
        font-size: 1.3rem;

        ul {
            padding: 1.7rem;

            li {
                .task-buttons {
                    // padding: 3.5px;
                    transform: scale(1);
                    width: 5rem;
                }
            }
        }
    }

    .light-container {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        transform: scale(1.35);
    }   

    .music-container {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        transform: scale(1.35);
    }
}

@media screen and (max-width: 451px) {
     body {
         height: 100vh;
         width: 100vw;
     }

    .header {
        #date {

            h2 {
                font-size: 2rem;
            }
        }

        .light-container {
            top: 1rem;
            right: 1rem;
            transform: scale(1.175);
        }

        .music-container {
            transform: scale(1.175);
            top: 1rem;
            left: 1rem;
        }
    }

    .content {
        font-size: 1.15rem;
    }

    .bottom {
        .add-to-do {
            margin-left: .35rem;
            margin-right: .35rem;
        }
    }
}